/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Color Schemes and Gradients */
/* line 71, ../sass/screen.scss */
body {
  font-family: 'Duru Sans', sans-serif;
  background-color: white;
}

/* line 77, ../sass/screen.scss */
#container {
  *zoom: 1;
  margin: auto;
  width: 61em;
  max-width: 100%;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 82, ../sass/screen.scss */
header {
  clear: both;
  margin-left: 1.639%;
  margin-right: 1.639%;
  margin-left: 1.639%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3e97d1), color-stop(100%, #24587a));
  background-image: -webkit-linear-gradient(#3e97d1, #24587a);
  background-image: -moz-linear-gradient(#3e97d1, #24587a);
  background-image: -o-linear-gradient(#3e97d1, #24587a);
  background-image: -ms-linear-gradient(#3e97d1, #24587a);
  background-image: linear-gradient(#3e97d1, #24587a);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-top: 12pt;
  margin-bottom: 12pt;
  padding: 12pt;
  overflow: hidden;
  *zoom: 1;
}
/* line 89, ../sass/screen.scss */
header h1 {
  display: inline;
  float: left;
  font-weight: bolder;
  color: white;
  margin-right: 24pt;
}

/* line 97, ../sass/screen.scss */
footer {
  clear: both;
  margin-left: 1.639%;
  margin-right: 1.639%;
  margin-left: 1.639%;
}

/* line 103, ../sass/screen.scss */
nav#topmenu ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav#topmenu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav#topmenu ul li:first-child, nav#topmenu ul li.first {
  padding-left: 0;
}
/* line 49, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav#topmenu ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
nav#topmenu ul li.last {
  padding-right: 0;
}
/* line 105, ../sass/screen.scss */
nav#topmenu ul li {
  width: 50pt;
}
/* line 108, ../sass/screen.scss */
nav#topmenu ul li a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: #eeeeee;
  cursor: pointer;
}
/* line 6, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
nav#topmenu ul li a:active, nav#topmenu ul li a:focus {
  outline: none;
}
/* line 18, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
nav#topmenu ul li a:visited {
  color: #dddddd;
}
/* line 21, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
nav#topmenu ul li a:focus {
  color: white;
}
/* line 24, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
nav#topmenu ul li a:hover {
  color: white;
}
/* line 27, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
nav#topmenu ul li a:active {
  color: white;
}
/* line 117, ../sass/screen.scss */
nav#topmenu fieldset[role='mobile'] select {
  clear: both;
  margin-left: 1.639%;
  margin-right: 1.639%;
}
@media only screen and (max-width: 550px) {
  /* line 123, ../sass/screen.scss */
  nav#topmenu ul {
    display: none;
  }
}
@media only screen and (min-width: 550px) {
  /* line 129, ../sass/screen.scss */
  nav#topmenu fieldset[role='mobile'] {
    display: none;
  }
}

/* line 135, ../sass/screen.scss */
#main {
  clear: both;
  margin-left: 1.639%;
  margin-right: 1.639%;
}
/* line 138, ../sass/screen.scss */
#main div.panel {
  overflow: hidden;
  *zoom: 1;
}
/* line 142, ../sass/screen.scss */
#main nav {
  overflow: hidden;
  *zoom: 1;
  background-color: transparent;
}

/* line 149, ../sass/screen.scss */
#fullcontent {
  display: inline;
  float: left;
  width: 96.721%;
  margin-right: 1.639%;
  display: inline;
  float: right;
  margin-right: 1.639%;
  #margin-left: -1em;
  background-color: transparent;
  margin-bottom: 12pt;
}
/* line 156, ../sass/screen.scss */
#fullcontent div {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(80%, #eeeeee), color-stop(100%, #aaaaaa));
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee 80%, #aaaaaa);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee 80%, #aaaaaa);
  background-image: -o-linear-gradient(#ffffff, #eeeeee 80%, #aaaaaa);
  background-image: -ms-linear-gradient(#ffffff, #eeeeee 80%, #aaaaaa);
  background-image: linear-gradient(#ffffff, #eeeeee 80%, #aaaaaa);
  height: 462pt;
  overflow: scroll;
  padding: 6pt;
}

/* line 164, ../sass/screen.scss */
#contentpane {
  margin-bottom: 12pt;
  display: inline;
  float: right;
  margin-right: 1.639%;
  #margin-left: -1em;
}
@media only screen and (max-width: 550px) {
  /* line 164, ../sass/screen.scss */
  #contentpane {
    margin-left: 1.639%;
    display: inline;
    float: left;
    width: 96.721%;
    margin-right: 1.639%;
  }
}
@media only screen and (min-width: 550px) {
  /* line 164, ../sass/screen.scss */
  #contentpane {
    display: inline;
    float: left;
    width: 31.148%;
    margin-right: 1.639%;
  }
}
/* line 176, ../sass/screen.scss */
#contentpane div {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(80%, #eeeeee), color-stop(100%, #aaaaaa));
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee 80%, #aaaaaa);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee 80%, #aaaaaa);
  background-image: -o-linear-gradient(#ffffff, #eeeeee 80%, #aaaaaa);
  background-image: -ms-linear-gradient(#ffffff, #eeeeee 80%, #aaaaaa);
  background-image: linear-gradient(#ffffff, #eeeeee 80%, #aaaaaa);
  height: 450pt;
  overflow: scroll;
  padding: 6pt;
}

/* line 184, ../sass/screen.scss */
#repl {
  margin-left: 1.639%;
}
@media only screen and (max-width: 550px) {
  /* line 184, ../sass/screen.scss */
  #repl {
    display: inline;
    float: left;
    width: 96.721%;
    margin-right: 1.639%;
    display: inline;
    float: right;
    margin-right: 1.639%;
    #margin-left: -1em;
  }
}
@media only screen and (min-width: 550px) {
  /* line 184, ../sass/screen.scss */
  #repl {
    display: inline;
    float: left;
    width: 63.934%;
    margin-right: 1.639%;
  }
}

/* line 196, ../sass/screen.scss */
#sandbox {
  background-color: #65a6d1;
  width: 100%;
  height: 275pt;
  margin-bottom: 6pt;
}

/* line 203, ../sass/screen.scss */
#replinput {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(80%, #eeeeee), color-stop(100%, #aaaaaa));
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee 80%, #aaaaaa);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee 80%, #aaaaaa);
  background-image: -o-linear-gradient(#ffffff, #eeeeee 80%, #aaaaaa);
  background-image: -ms-linear-gradient(#ffffff, #eeeeee 80%, #aaaaaa);
  background-image: linear-gradient(#ffffff, #eeeeee 80%, #aaaaaa);
  font-family: 'Inconsolata', sans-serif;
  font-size: 12pt;
  width: 100%;
  height: 175pt;
}

/* line 211, ../sass/screen.scss */
button {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #65a6d1), color-stop(100%, #3e97d1));
  background-image: -webkit-linear-gradient(#65a6d1, #3e97d1);
  background-image: -moz-linear-gradient(#65a6d1, #3e97d1);
  background-image: -o-linear-gradient(#65a6d1, #3e97d1);
  background-image: -ms-linear-gradient(#65a6d1, #3e97d1);
  background-image: linear-gradient(#65a6d1, #3e97d1);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  display: inline;
  float: right;
  margin-top: 6pt;
  margin-left: 3pt;
  margin-right: 3pt;
  border: 0pt;
  width: 45pt;
  height: 18pt;
  cursor: pointer;
}
/* line 63, ../sass/screen.scss */
button:hover {
  text-shadow: #eeeeee 0px 0px 1px;
}
/* line 66, ../sass/screen.scss */
button:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3e97d1), color-stop(100%, #65a6d1));
  background-image: -webkit-linear-gradient(#3e97d1, #65a6d1);
  background-image: -moz-linear-gradient(#3e97d1, #65a6d1);
  background-image: -o-linear-gradient(#3e97d1, #65a6d1);
  background-image: -ms-linear-gradient(#3e97d1, #65a6d1);
  background-image: linear-gradient(#3e97d1, #65a6d1);
}

/* line 215, ../sass/screen.scss */
#replbuttons {
  height: 0pt;
  position: relative;
  top: -33pt;
}
/* line 220, ../sass/screen.scss */
#replbuttons button#replgo {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffc173), color-stop(70%, #ff8e00), color-stop(100%, #bf8030));
  background-image: -webkit-linear-gradient(#ffc173, #ff8e00 70%, #bf8030);
  background-image: -moz-linear-gradient(#ffc173, #ff8e00 70%, #bf8030);
  background-image: -o-linear-gradient(#ffc173, #ff8e00 70%, #bf8030);
  background-image: -ms-linear-gradient(#ffc173, #ff8e00 70%, #bf8030);
  background-image: linear-gradient(#ffc173, #ff8e00 70%, #bf8030);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  display: inline;
  float: right;
  margin-top: 6pt;
  margin-left: 3pt;
  margin-right: 3pt;
  border: 0pt;
  width: 45pt;
  height: 18pt;
  cursor: pointer;
}
/* line 63, ../sass/screen.scss */
#replbuttons button#replgo:hover {
  text-shadow: #eeeeee 0px 0px 1px;
}
/* line 66, ../sass/screen.scss */
#replbuttons button#replgo:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bf8030), color-stop(70%, #ff8e00), color-stop(100%, #ffc173));
  background-image: -webkit-linear-gradient(#bf8030, #ff8e00 70%, #ffc173);
  background-image: -moz-linear-gradient(#bf8030, #ff8e00 70%, #ffc173);
  background-image: -o-linear-gradient(#bf8030, #ff8e00 70%, #ffc173);
  background-image: -ms-linear-gradient(#bf8030, #ff8e00 70%, #ffc173);
  background-image: linear-gradient(#bf8030, #ff8e00 70%, #ffc173);
}

/* line 225, ../sass/screen.scss */
div#main {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3e97d1), color-stop(100%, #0a67a3));
  background-image: -webkit-linear-gradient(#3e97d1, #0a67a3);
  background-image: -moz-linear-gradient(#3e97d1, #0a67a3);
  background-image: -o-linear-gradient(#3e97d1, #0a67a3);
  background-image: -ms-linear-gradient(#3e97d1, #0a67a3);
  background-image: linear-gradient(#3e97d1, #0a67a3);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-top: 12pt;
  margin-bottom: 12pt;
  padding: 12pt;
  overflow: hidden;
  *zoom: 1;
  padding-top: 24pt;
}

/* line 231, ../sass/screen.scss */
div#status {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3e97d1), color-stop(100%, #24587a));
  background-image: -webkit-linear-gradient(#3e97d1, #24587a);
  background-image: -moz-linear-gradient(#3e97d1, #24587a);
  background-image: -o-linear-gradient(#3e97d1, #24587a);
  background-image: -ms-linear-gradient(#3e97d1, #24587a);
  background-image: linear-gradient(#3e97d1, #24587a);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-top: 12pt;
  margin-bottom: 12pt;
  padding: 12pt;
  color: white;
}

/* line 236, ../sass/screen.scss */
h1 {
  font-size: bigger;
  font-weight: bold;
}

/* line 241, ../sass/screen.scss */
strong {
  font-weight: bolder;
}
