/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Color Schemes and Gradients */
/* line 74, ../sass/screen.scss */
body {
  font-family: 'Duru Sans', sans-serif;
  background-color: white;
}

/* line 80, ../sass/screen.scss */
#container {
  *zoom: 1;
  margin: auto;
  width: 98.5%;
  max-width: 100%;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 85, ../sass/screen.scss */
header {
  clear: both;
  margin-left: 1.015%;
  margin-right: 1.015%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3e97d1), color-stop(100%, #24587a));
  background-image: -webkit-linear-gradient(#3e97d1, #24587a);
  background-image: -moz-linear-gradient(#3e97d1, #24587a);
  background-image: -o-linear-gradient(#3e97d1, #24587a);
  background-image: -ms-linear-gradient(#3e97d1, #24587a);
  background-image: linear-gradient(#3e97d1, #24587a);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-top: 12pt;
  padding-top: 12pt;
  padding-bottom: 12pt;
  overflow: hidden;
  *zoom: 1;
  padding-left: 1.036%;
}
/* line 92, ../sass/screen.scss */
header h1 {
  display: inline;
  float: left;
  font-weight: bolder;
  color: white;
  margin-right: 24pt;
}

/* line 100, ../sass/screen.scss */
footer {
  clear: both;
  margin-left: 1.015%;
  margin-right: 1.015%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3e97d1), color-stop(100%, #24587a));
  background-image: -webkit-linear-gradient(#3e97d1, #24587a);
  background-image: -moz-linear-gradient(#3e97d1, #24587a);
  background-image: -o-linear-gradient(#3e97d1, #24587a);
  background-image: -ms-linear-gradient(#3e97d1, #24587a);
  background-image: linear-gradient(#3e97d1, #24587a);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-top: 12pt;
  padding-top: 12pt;
  padding-bottom: 12pt;
  padding-left: 1.036%;
  color: white;
}

/* line 107, ../sass/screen.scss */
nav#sidebar {
  display: inline;
  float: left;
  width: 18.782%;
  margin-right: 1.015%;
  margin-left: 1.015%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3e97d1), color-stop(100%, #0a67a3));
  background-image: -webkit-linear-gradient(#3e97d1, #0a67a3);
  background-image: -moz-linear-gradient(#3e97d1, #0a67a3);
  background-image: -o-linear-gradient(#3e97d1, #0a67a3);
  background-image: -ms-linear-gradient(#3e97d1, #0a67a3);
  background-image: linear-gradient(#3e97d1, #0a67a3);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-top: 12pt;
  padding-top: 12pt;
  padding-bottom: 12pt;
  color: white;
  font-size: 0.8em;
  line-height: 1.5em;
  height: 471.6pt;
}
/* line 117, ../sass/screen.scss */
nav#sidebar ol {
  margin-left: 1em;
}
/* line 119, ../sass/screen.scss */
nav#sidebar ol li {
  cursor: pointer;
}
/* line 122, ../sass/screen.scss */
nav#sidebar ol li ol {
  display: none;
}
/* line 126, ../sass/screen.scss */
nav#sidebar ol li:hover {
  font-weight: bold;
}
/* line 129, ../sass/screen.scss */
nav#sidebar ol li.active {
  font-weight: bold;
}
/* line 132, ../sass/screen.scss */
nav#sidebar ol li.active ol {
  display: block;
}
/* line 134, ../sass/screen.scss */
nav#sidebar ol li.active ol li {
  font-weight: normal;
}
/* line 136, ../sass/screen.scss */
nav#sidebar ol li.active ol li:hover {
  font-weight: bold;
}
/* line 139, ../sass/screen.scss */
nav#sidebar ol li.active ol li.active {
  font-weight: bold;
}

/* line 149, ../sass/screen.scss */
#main {
  display: inline;
  float: left;
  width: 78.173%;
  margin-right: 1.015%;
  display: inline;
  float: right;
  margin-right: 1.015%;
  #margin-left: -1%;
}
/* line 153, ../sass/screen.scss */
#main div.panel {
  overflow: hidden;
  *zoom: 1;
}
/* line 157, ../sass/screen.scss */
#main nav {
  overflow: hidden;
  *zoom: 1;
  background-color: transparent;
}

/* line 164, ../sass/screen.scss */
#fullcontent {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 1.299%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1%;
  background-color: transparent;
  margin-bottom: 12pt;
}
/* line 171, ../sass/screen.scss */
#fullcontent div {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(80%, #cccccc), color-stop(100%, #aaaaaa));
  background-image: -webkit-linear-gradient(#eeeeee, #cccccc 80%, #aaaaaa);
  background-image: -moz-linear-gradient(#eeeeee, #cccccc 80%, #aaaaaa);
  background-image: -o-linear-gradient(#eeeeee, #cccccc 80%, #aaaaaa);
  background-image: -ms-linear-gradient(#eeeeee, #cccccc 80%, #aaaaaa);
  background-image: linear-gradient(#eeeeee, #cccccc 80%, #aaaaaa);
  height: 435.6pt;
  overflow: scroll;
  padding: 6pt;
}

/* line 179, ../sass/screen.scss */
#contentpane {
  margin-bottom: 12pt;
}
@media only screen and (max-width: 550px) {
  /* line 179, ../sass/screen.scss */
  #contentpane {
    clear: both;
    margin-left: 1.015%;
    margin-right: 1.015%;
  }
}
@media only screen and (min-width: 550px) {
  /* line 179, ../sass/screen.scss */
  #contentpane {
    display: inline;
    float: left;
    width: 32.468%;
    margin-right: 1.299%;
  }
}
/* line 189, ../sass/screen.scss */
#contentpane div {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(80%, #cccccc), color-stop(100%, #aaaaaa));
  background-image: -webkit-linear-gradient(#eeeeee, #cccccc 80%, #aaaaaa);
  background-image: -moz-linear-gradient(#eeeeee, #cccccc 80%, #aaaaaa);
  background-image: -o-linear-gradient(#eeeeee, #cccccc 80%, #aaaaaa);
  background-image: -ms-linear-gradient(#eeeeee, #cccccc 80%, #aaaaaa);
  background-image: linear-gradient(#eeeeee, #cccccc 80%, #aaaaaa);
  height: 432pt;
  overflow: scroll;
  padding: 3.175%;
}

/* line 197, ../sass/screen.scss */
#repl {
  height: 450pt;
}
@media only screen and (max-width: 550px) {
  /* line 197, ../sass/screen.scss */
  #repl {
    clear: both;
    margin-left: 1.015%;
    margin-right: 1.015%;
  }
}
@media only screen and (min-width: 550px) {
  /* line 197, ../sass/screen.scss */
  #repl {
    display: inline;
    float: left;
    width: 66.234%;
    margin-right: 1.299%;
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1%;
  }
}

/* line 208, ../sass/screen.scss */
#sandbox {
  background-color: #65a6d1;
  width: 100%;
  height: 264pt;
  margin-bottom: 6pt;
}

/* line 215, ../sass/screen.scss */
#replinput {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(80%, #cccccc), color-stop(100%, #aaaaaa));
  background-image: -webkit-linear-gradient(#eeeeee, #cccccc 80%, #aaaaaa);
  background-image: -moz-linear-gradient(#eeeeee, #cccccc 80%, #aaaaaa);
  background-image: -o-linear-gradient(#eeeeee, #cccccc 80%, #aaaaaa);
  background-image: -ms-linear-gradient(#eeeeee, #cccccc 80%, #aaaaaa);
  background-image: linear-gradient(#eeeeee, #cccccc 80%, #aaaaaa);
  font-family: 'Inconsolata', sans-serif;
  font-size: 12pt;
  width: 100%;
  height: 168pt;
}

/* line 223, ../sass/screen.scss */
button {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #65a6d1), color-stop(100%, #3e97d1));
  background-image: -webkit-linear-gradient(#65a6d1, #3e97d1);
  background-image: -moz-linear-gradient(#65a6d1, #3e97d1);
  background-image: -o-linear-gradient(#65a6d1, #3e97d1);
  background-image: -ms-linear-gradient(#65a6d1, #3e97d1);
  background-image: linear-gradient(#65a6d1, #3e97d1);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  display: inline;
  float: right;
  margin-top: 6pt;
  margin-left: 3pt;
  margin-right: 6pt;
  border: 0pt;
  width: 45pt;
  height: 18pt;
  cursor: pointer;
}
/* line 66, ../sass/screen.scss */
button:hover {
  text-shadow: #eeeeee 0px 0px 1px;
}
/* line 69, ../sass/screen.scss */
button:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3e97d1), color-stop(100%, #65a6d1));
  background-image: -webkit-linear-gradient(#3e97d1, #65a6d1);
  background-image: -moz-linear-gradient(#3e97d1, #65a6d1);
  background-image: -o-linear-gradient(#3e97d1, #65a6d1);
  background-image: -ms-linear-gradient(#3e97d1, #65a6d1);
  background-image: linear-gradient(#3e97d1, #65a6d1);
}

/* line 227, ../sass/screen.scss */
#replbuttons {
  height: 0pt;
  position: relative;
  top: -33pt;
}
/* line 232, ../sass/screen.scss */
#replbuttons button#replgo {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffc173), color-stop(70%, #ff8e00), color-stop(100%, #bf8030));
  background-image: -webkit-linear-gradient(#ffc173, #ff8e00 70%, #bf8030);
  background-image: -moz-linear-gradient(#ffc173, #ff8e00 70%, #bf8030);
  background-image: -o-linear-gradient(#ffc173, #ff8e00 70%, #bf8030);
  background-image: -ms-linear-gradient(#ffc173, #ff8e00 70%, #bf8030);
  background-image: linear-gradient(#ffc173, #ff8e00 70%, #bf8030);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  display: inline;
  float: right;
  margin-top: 6pt;
  margin-left: 3pt;
  margin-right: 6pt;
  border: 0pt;
  width: 45pt;
  height: 18pt;
  cursor: pointer;
}
/* line 66, ../sass/screen.scss */
#replbuttons button#replgo:hover {
  text-shadow: #eeeeee 0px 0px 1px;
}
/* line 69, ../sass/screen.scss */
#replbuttons button#replgo:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bf8030), color-stop(70%, #ff8e00), color-stop(100%, #ffc173));
  background-image: -webkit-linear-gradient(#bf8030, #ff8e00 70%, #ffc173);
  background-image: -moz-linear-gradient(#bf8030, #ff8e00 70%, #ffc173);
  background-image: -o-linear-gradient(#bf8030, #ff8e00 70%, #ffc173);
  background-image: -ms-linear-gradient(#bf8030, #ff8e00 70%, #ffc173);
  background-image: linear-gradient(#bf8030, #ff8e00 70%, #ffc173);
}

/* line 237, ../sass/screen.scss */
div#main {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3e97d1), color-stop(100%, #0a67a3));
  background-image: -webkit-linear-gradient(#3e97d1, #0a67a3);
  background-image: -moz-linear-gradient(#3e97d1, #0a67a3);
  background-image: -o-linear-gradient(#3e97d1, #0a67a3);
  background-image: -ms-linear-gradient(#3e97d1, #0a67a3);
  background-image: linear-gradient(#3e97d1, #0a67a3);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-top: 12pt;
  padding-top: 12pt;
  padding-bottom: 12pt;
  overflow: hidden;
  *zoom: 1;
  padding-top: 0;
  margin-bottom: 12pt;
}

/* line 247, ../sass/screen.scss */
h1 {
  font-size: bigger;
  font-weight: bold;
}

/* line 252, ../sass/screen.scss */
em {
  font-style: italic;
}

/* line 256, ../sass/screen.scss */
strong {
  font-weight: bolder;
}
