// Imports -------------------------------------------------------------------

@import "susy";

// Grid ----------------------------------------------------------------------

$total-cols             : 12;
$col-width              : 7.25%;
$gutter-width           : 1%;
$side-gutter-width      : $gutter-width;

$show-grid-backgrounds  : true;
